#mypagePrivate h4{
	display:inline;
	position:relative;
}
.mypagePrivateModifyOpenBtn{
	position:absolute;
	top: 0px;
	left: 150px;
	border-radius: 5px;
	background:#fff;
	color:#030301;
	border:none;
	position:relative;
	height:30px;
	width:50px;
	font-size:0.9em;
	padding:0.4em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
}
#mypageContact h4{
	display:inline;
	position:relative;
}
.mypageContactModifyOpenBtn{
	position:absolute;
	top: 0px;
	left: 150px;
	border-radius: 5px;
	background:#fff;
	color:#030301;
	border:none;
	position:relative;
	height:30px;
	width:50px;
	font-size:0.9em;
	padding:0.5em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
}
#mypagePassword h4{
	display:inline;
	position:relative;
}

.mypagePasswordOpenBtn{
	position:absolute;
	top: 0px;
	left: 150px;
	border-radius: 5px;
	background:#fff;
	color:#030301;
	border:none;
	position:relative;
	height:30px;
	width:50px;
	font-size:0.9em;
	padding:0.5em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
}


#mypagePrivateModifyClosingBtn {
  border-radius: 5px;
  background:#fff;
  color:#030301;
  border:none;
  position:relative;
  height:30px;
  width:50px;
  font-size:0.9em;
  padding:0.4em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  	top: 0px;
	left: 150px;
}

#mypageContactModifyClosingBtn {
 border-radius: 5px;
  background:#fff;
  color:#030301;
  border:none;
  position:relative;
  height:30px;
  width:50px;
  font-size:0.9em;
  padding:0.5em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  	top: 0px;
	left: 150px;
}


#mypagePasswordClosingBtn{
  border-radius: 5px;
  background:#fff;
  color:#030301;
  border:none;
  position:relative;
  height:30px;
  width:50px;
  font-size:0.9em;
  padding:0.5em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  	top: 0px;
	left: 150px;
}