.wishlist-list-container{
	background:gray;
}

.wishlist-title h1{
	display: inline;
}
.imgtag{
	padding: 4px;
}
.cart-line{
	background-color: black;
	height: 2px;
	margin-top: 60px;
	margin-bottom: 40px;
}

.wishlist-list-img{
	width: 300px;
	height: 300px;
}
.parent{
	position:relative;
	display:inline;
	width: 300px;
	height: 300px;
}
.parent2{
	position:relative;
	display:inline;
	width: 300px;
	height: 300px;
}

.imgbtn{
	position: absolute;
	left: 120px;
	top:100px;
}
.imgbtn2{
	position: absolute;
	left: 200px;
	top: 10px;
}
.wishlist-list-container{
	display: block;
    content: "";
    clear: both;
}
