<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="profileSQL">
 	<insert id="askWrite" parameterType="ask">
		insert into ask values(seq_ask.nextval
									, #{ask_category}
									, #{order_number}
									, #{name}
									, #{email}
									, #{subject}
									, #{content}
									, 0
									, #{image1}
									, sysdate)
	</insert>
	
 	<select id="getAskList" parameterType="java.util.Map" resultType="ask">
 		select * from(select rownum rn, tt.* from
 				(select * from ask order by seq desc)tt)
 				         where <![CDATA[rn>= #{startNum}]]> and  <![CDATA[rn<= #{endNum}]]>   
 	</select>
 	
 	<select id="getTotalA"  resultType="Integer">
 		select count(*) as count from ask
 	</select>
	
 </mapper>